### Gradle ###
build
node_modules
.gradle/

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.idea
*.iml
**/src-gen/
**/emf-gen
**/xtend-gen
**/xtext-gen
logs

### Eclipse ###
.classpath
.project
.settings/
.metadata/
bin/

### JS ###
.nyc_output
npm-debug.log
lerna-debug.log
npm-debug.log.*
yarn-error.log
coverage
**/dist
**/target/
package-lock.json

### VS Code ###
**/*/symbols.json
**/.vscode/settings.json

### Asciidoc ###

**/.asciidoctor/*

### NPM ###

.npmrc

### IntelliJ
*.iml
*.ipr
*.iws
.idea/
.vscode
out/

### Local configuration file (sdk path, etc)
local.properties