<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <extensions>
    <add assembly="Plexus.Logging.NLog"/>
  </extensions>

  <variable name="defaultLayout"
            value="${longdate} | ${level:uppercase=true:padding=5:fixedLength=true} | ${threadid:padding=5:fixedLength=true} | ${logger} | ${message}${onexception:${newline}${exception:format=ToString}}"/>

  <variable name="logsDir" value="${workDir}/logs/"/>

  <targets async="true">
    <target xsi:type="File"
            name="FileTarget"
            layout="${defaultLayout}"
            fileName="${logsDir}/GreetingServer.log"
            keepFileOpen="false"
            archiveFileName="${logsDir}/GreetingServer.{##}.log"
            archiveNumbering="Sequence"
            archiveAboveSize="2097152"
            maxArchiveFiles="5"
            />
  </targets>
  <rules>
    <logger name="*" writeTo="FileTarget" minlevel="Info" />    
  </rules>
</nlog>