<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="Logs/Plexus.Tests.NLog.Internal.log"
      internalLogLevel="Warn"
      >

  <variable name="defaultLayout"
            value="${longdate} | ${level:uppercase=true:padding=5:fixedLength=true} | ${threadid:padding=5:fixedLength=true} | ${logger} | ${message}${onexception: |${newline}${exception:format=ToString}}"/>

  <targets>
    <target xsi:type="AsyncWrapper"
            name="AsyncFileTarget"
            overflowAction="Discard">
      <target xsi:type="File"
              layout="${defaultLayout}"
              deleteOldFileOnStartup="true"
              fileName="Logs/Plexus.Tests.log"
              keepFileOpen="true"
              concurrentWrites="false"
              archiveFileName="Logs/Plexus.Tests.{#}.log"
              archiveDateFormat="yyyyMMdd.hhmmssfff"
              archiveNumbering="Sequence"
              archiveAboveSize="5000000"
              maxArchiveFiles="0" />
    </target>
    <target xsi:type="AsyncWrapper"
            name="AsyncTransportFileTarget"
            overflowAction="Discard">
      <target xsi:type="File"
              layout="${defaultLayout}"
              deleteOldFileOnStartup="true"
              fileName="Logs/Plexus.Tests.Transport.log"
              keepFileOpen="true"
              concurrentWrites="false"
              archiveFileName="Logs/Plexus.Tests.Transport.{#}.log"
              archiveDateFormat="yyyyMMdd.hhmmssfff"
              archiveNumbering="Sequence"
              archiveAboveSize="5000000"
              maxArchiveFiles="0" />
    </target>
    <target xsi:type="AsyncWrapper"
            name="AsyncNodeFileTarget"
            overflowAction="Discard">
      <target xsi:type="File"
              layout="${defaultLayout}"
              deleteOldFileOnStartup="true"
              fileName="Logs/Plexus.Tests.Node.log"
              keepFileOpen="true"
              concurrentWrites="false"
              archiveFileName="Logs/Plexus.Tests.Node.{#}.log"
              archiveDateFormat="yyyyMMdd.hhmmssfff"
              archiveNumbering="Sequence"
              archiveAboveSize="5000000"
              maxArchiveFiles="0" />
    </target>
    <target xsi:type="AsyncWrapper"
            name="AsyncPoolsFileTarget"
            overflowAction="Discard">
      <target xsi:type="File"              
              layout="${defaultLayout}"
              deleteOldFileOnStartup="true"
              fileName="Logs/Plexus.Pools.log"
              keepFileOpen="false"
              archiveFileName="Logs/Plexus.Pools.{##}.log"
              archiveNumbering="Sequence"
              archiveAboveSize="2097152"
              maxArchiveFiles="0" />
    </target>
    <!--<target xsi:type="AsyncWrapper"
            name="AsyncBrokerFileTarget"
            overflowAction="Discard">
      <target xsi:type="File"
              layout="${defaultLayout}"
              fileName="Logs/Plexus.Tests.Broker.log"
              keepFileOpen="true"
              concurrentWrites="false"
              archiveFileName="Logs/Plexus.Tests.Broker.{#}.log"
              archiveDateFormat="yyyyMMdd.hhmmssfff"
              archiveNumbering="Date"
              archiveAboveSize="2097152"
              maxArchiveFiles="2" />
    </target>-->
  </targets>
  <rules>
    <logger name="*.Node.js" writeTo="AsyncNodeFileTarget" minlevel="Trace" final="true" />
    <logger name="Plexus.Interop.Transport.*" writeTo="AsyncTransportFileTarget" minlevel="Trace" final="true" />
    <logger name="Plexus.Pools.*" writeTo="AsyncPoolsFileTarget" minlevel="Trace" final="true" />
    <logger name="Microsoft.AspNetCore.*" writeTo="AsyncTransportFileTarget" minlevel="Trace" final="true" />    
    <logger name="*" writeTo="AsyncFileTarget" minlevel="Trace" />    
  </rules>
</nlog>